.pagination {
  display: flex;
  gap: 5px;
  padding: 10px 0;
}

.pagination li {
  border-radius: 4px;
}
.pagination li a {
  display: block;
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.pagination li a:not([aria-disabled=true]):hover {
  background-color: #eaeaea;
  color: black;
}
