@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Impact';
    src: url('/assets/impact.ttf');
  }
}
